body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.todo-title{
  cursor: pointer;
}

.completed-todo{
  text-decoration: line-through;
}

.tab-list > span{
  padding: 5px 8px; 
  /* top-bottom right-left */
  border: 1px solid rgb(196, 181, 181);
  border-radius: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.tab-list > span.active{
  background-color: rgb(231, 234, 240);;
}